.card {
  display: flex;
  flex-flow: column;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

.card img {
  aspect-ratio: 265 / 185;
  object-fit: cover;
}

.card-body {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  background-color: #edefee;
  padding: 10px;
}

.card-body p {
  color: #495e57;
  font-size: 16px;
}

.card-heading {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.card-price {
  color: #ee9972;
  font-size: 16px;
  font-weight: 700;
}

.order-btn {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: "karla", sans-serif;
  padding: 0;
  margin-top: auto;
}

.order-btn img {
  width: 17px;
}

.order-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all linear 200ms;
}

.order-btn:hover::after {
  width: 100%;
}
