.hero-text {
  flex: 0 0 auto;
  width: 100%;
}

.hero-text p:not(.subtitle) {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.hero-wrap {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.hero-img {
  width: 100%;
  height: 340px;
  aspect-ratio: 372 / 430;
  border-radius: 16px;
  margin-bottom: -30px;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 600px) {
  .hero-text {
    max-width: 340px;
  }

  .hero-wrap {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero-img {
    max-width: 372px;
    height: auto;
    margin-bottom: -50px;
  }
}

@media screen and (min-width: 960px) {
  .hero-img {
    margin-bottom: -100px;
  }
}
