.nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-left: auto;
}

.nav-list {
  display: none;
  flex-flow: row;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.nav-list a {
  position: relative;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all linear 200ms;
}

.nav-list a:hover::after {
  width: 100%;
}

.nav-link {
  position: relative;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all linear 200ms;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-btn {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav-btn img {
  width: 30px;
}

@media screen and (min-width: 760px) {
  .nav {
    margin: auto;
  }

  .nav-btn {
    display: none;
  }

  .nav-list {
    display: flex;
  }
}
