h1,
h2,
h3,
h4,
h5,
h6,
.subtitle {
  font-family: "Markazi Text", serif;
  margin: 0;
}

h1 {
  color: #f4ce14;
  font-size: 64px;
  font-weight: 500;
}

h2 {
  color: #000;
  font-size: 40px;
}

h3 {
  color: #000;
  font-size: 24px;
}

.subtitle {
  color: #fff;
  font-size: 40px;
  margin-top: -30px;
}

.subtitle--small {
  margin-top: -15px;
}

p {
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container--860 {
  max-width: 860px;
}

.container--960 {
  max-width: 900px;
}

button {
  font-family: "karla", sans-serif;
  border: none;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
}

.btn {
  width: 200px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  background-color: #f4ce14;
  border-radius: 16px;
  padding: 20px 10px;
}
